html, body {
    height: 10%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

/* main header rules */

header {
    background-color: #683A09;
    padding: 10px 0;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0px auto; 
}

#character_nav {
    background-image: url('../img/the-boondocks-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiplybx;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.characters li {
    height: 220px;
    margin: 10px 8px;
    background-color: black;
    text-align: left;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: #675050 inset;
}

.characters li:hover {
    box-shadow: 0 220px 0 0 #683A09 inset;
}

.characters li h5 {
    color: white;
    padding: 12px 8px;
}

.characters li a {
    text-decoration: none;
}

article, #instructions {
    padding: 20px;
}

article h3, #instructions {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

article p, #instructions p {
    width: 80%;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0px auto;
}

/* Sprite---*/

.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../img/BoondocksSprites.jpg');
}

#Riley {
    background-position: -150px 0;
}

#Rob {
    background-position: -300px 0;
}

#Ruckus {
    background-position: -450px 0;
}

#Stinkmeaner {
    background-position: -600px 0;
}

#Thugnificent {
    background-position: -750px 0;
}

#Huey:hover, #Riley:hover, #Rob:hover, #Ruckus:hover, #Stinkmeaner:hover, #Thugnificent:hover {
    background-position-y: -150px;
}

/* Lightbox */

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    background-image: url(../img/huey-full.png);
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position: 100px 150px;
    z-index: 5000; /* ya this is crazy, better safe 
    than sorry */
    display: none;
}

#lightbox-riley {
    background-image: url(../img/Riley-full.png);
}
#lightbox-rob {
    background-image: url(../img/Robert-full.png);
}

#lightbox-ruckus {
    background-image: url(../img/Ruckus.png);
}

#lightbox-stinkmeaner {
    background-image: url(../img/Stink-meaner-full.png);
}

#lightbox-thugnificent {
    background-image: url(../img/Thuggernificent.png);
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 48px;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover {
    opacity: 0.5;
    color: white;
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading {
    text-align: left;
}

.lb_text {
    margin-left: 0;
    padding-top: 50px;
    line-height: 1.6 !important;
}

.lightbox:target {
    display: block;
}

footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}

.stickyfooter {
    position: sticky;
    top: 200%;
    margin-top: 250px;
    height: 100px;
    background-color: rgb(0, 0, 0);
}